@font-face {
    font-family:"Museo Sans";
	src:url("Fonts/museosans-500-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: "Museo Sans", "Open Sans", Tahoma, Arial;
		margin: 0;
		padding: 0;
	-moz-user-select: none !important;
	-web-kit-user-select: none !important;
	cursor: default;
}

#BarraDeNavegacion{
	width: 100%;
	z-index: 100000;
	top: 0;
}
#BarraDeNavegacion li{
	border-bottom: 2px solid transparent;
	list-style: none;
	padding: 10px;
	transition-duration: 0.5s;
	cursor: pointer;
}
#BarraDeNavegacion li:hover{
	text-shadow: none !important;
}
#BarraDeNavegacion li:active{
	text-shadow: none !important;
}

body {
	margin: 0px; padding: 0px;
	background-color: rgb(50, 50, 50);
}

hr { 
	border: 0; height: 7px; 
 	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));       
 	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(100,100,100,0.75), rgba(0,0,0,0)); 
 	width:100%;
}

#fondo {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	position: fixed !important;
	display: block;
	height: 101% !important;
	width: 101% !important;
	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover !important;
}

.seccion{
	position: relative !important;
	width: auto !important;
	height: auto !important;
	border-radius: 5px !important;
	border: 1px solid transparent !important;
	margin: 5px !important;
	padding: 5px !important;
}
.tituloseccion{
	width: 100% !important;
	font-size: 20px !important; 
	margin-bottom: 2px !important;
}

footer{
	width: 100% !important;
	z-index: 9999 !important;
	margin-top: 10px !important;
	bottom: 0px !important;
	margin: -50px auto 0;
}
#Pie li{
	display: inline-block;
	list-style: none;
	padding: 10px;
	transition-duration: 0.5s;
}

#FondoPopUp{
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 10000 !important;
}
#PopUp{
	position: fixed;
	top: 30%;
	text-shadow: none !important;
	width: 100%;
	padding: 20px;
	z-index: 10001 !important;
	user-select: none;
}





/* Responsive */
@media (min-width: 781px) {
	#BarraDeNavegacion{
		position: fixed;
		width: 100%;
		height: 38px;
		background: rgba(0, 0, 0, 0.8);
		z-index: 100000;
		top: 0;
	}
	#BarraDeNavegacion li{
		display: inline-block;
		padding: 10px;
	}
	#BarraDeNavegacion li#DesMacro, 
	#BarraDeNavegacion li#ActMacro 
	{
		float: right;
	}
	.Links {
		width: 775px !important;
	}
	#fondo {
		-webkit-filter: blur(6px);
		filter: blur(6px);
		filter: url(blur.svg#blur);
	}
}

@media (max-width: 780px) {
	#BarraDeNavegacion{
		position: relative;
		background: rgba(0, 0, 0, 0.8);
		z-index: 100000 !important;
		top: 0;
		width: auto;
	}
	#BarraDeNavegacion li{
		display: block;
		width: auto;
	}
	#BarraDeNavegacion li#DesMacro, 
	#BarraDeNavegacion li#ActMacro, 
	#Acciones_Inicio
	{
		display: none !important;
	}
	.Links {
		width: auto !important;
	}
	#ZonaCentral {
		margin-top: 0px;
	}
	#fondo {
		-webkit-filter: none !important;
		filter: none !important;
	}
}

@media (min-width: 990px) {
	#ZonaCentral {
		position: relative !important;
		margin-left: auto;
		margin-right: auto;
		width: 980px !important;
		z-index: 9999 !important;
		-webkit-filter: blur(0px) !important;
		overflow: hidden !important;
		min-height: 100%;
	}
	#ZonaCentral:after {
		width: 100%;
		height:150px;
		display:block;
		clear:both;
	}
	#TextoCentrado{
		margin-left: auto;
		margin-right: auto;
		width: 980px !important;
	}
}

@media (max-width: 989px) {
	#ZonaCentral {
		position: relative !important;
		width: auto !important;
		z-index: 9999;
		-webkit-filter: blur(0px) !important;
		min-height: 100%;
	}
	#TextoCentrado{
		width: auto !important;
	}
}

@media (min-width: 480px) {
	#LogotipoPrincipal {
		width: 400px; height: 150px; 
	}
}
@media (max-width: 479px) {
	#LogotipoPrincipal {
		width: 350px;
		height: 150px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 360px) {
	#LogotipoPrincipal {
		width: 300px;
		height: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 240px) {
	#LogotipoPrincipal {
		width: 200px;
		height: 75px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 128px) {
	#LogotipoPrincipal {
		width: 120px;
		height: 50px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

/* Variables al inicio */
#AcercaDe, #Curriculum, #Portfolio, #TecnologiasUsadas, #Contacto {display: none;}